#white {
    background-color: #fff;
}

#gray1 {
    background-color: hsl(0,0%,93%);
}

#gray2 {
    background-color: hsl(0,0%,82%)
}

#gray3 {
    background-color: hsl(0,0%,69%);
}

#gray4 {
    background-color: hsl(0,0%,45%)
}

#gray5 {
    background-color: hsl(0,0%,36%)
}

#gray6 {
    background-color: hsl(0,0%,27%)
}

#gray7 {
    background-color: hsl(0,0%,13%);
}

#black {
    background-color: #000;
}

.blue {
    background-color: #0c4981;
}

.strawberry {
    background-color: #db0453;
}

.ferris-wheel {
    background-color: #ef4136;
}

.apple {
    background-color: #be1e2d;
}

.red-ribbon {
    background-color:#cf4d11;
}

.peppa {
    background-color: #e981a0;
}

.robotics {
    background-color: #ffdd00;
}

.shrek {
    background-color: #9de46e;
}

.tangerine {
    background-color: #ea6710;
}

.vector {
    background-color: #ea9e10;
}

.mcnugget {
    background-color: #edb312;
}

.ph {
    background-color: #f2e864;
}

.chernobyl {
    background-color: #47ff47;
}

.park-ranger {
    background-color: #0b5114;
}

.bender {
    background-color: rgb(163, 226, 255);
}

.ups-truck {
    background-color: #644117;
}